@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
.Header {
  background: url('/header.png') center/cover no-repeat;
}
body {
  font-family: 'Rubik', sans-serif;
}
